APP_ENV=local
APP_DEBUG=true
APP_KEY=your_app_key

DB_CONNECTION=sqlite

CACHE_DRIVER=memcached
MEMCACHED_HOST=cache.microservice.internal
MEMCACHED_PORT=11211

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=your_aws_default_region

QUEUE_DRIVER=sync
QUEUE_URL=your_queue_url

GUZZLE_BASE_URI=http://localhost:5000
GUZZLE_TIMEOUT=2.0

SENTRY_DSN=
